@import "https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&family=Noto+Serif+TC:wght@400;700&display=swap";
@import "https://font.emtech.cc/css/JetBrainsMono";

:root {
	--background: #21252b;
	--current-line: #2e353f;
	--foreground: #cccccc;
	--comment: #999999;
	--blue: #98cbff;
	--blue-dim: #add6ff;
	--green: #99cc99;
	--orange: #f69d50;
	--purple: #dcbdfb;
	--red: #ff7b7b;
	--yellow: #ffcc66;
	--aqua: #66cccc;
	--font-sans: "Mulish", "Noto Serif TC", sans-serif;
	--font-mono: "JetBrainsMono", "JetBrains Mono", monospace;
}

#app {
	#slide-content {
		--at-apply: text-$foreground bg-$background !important;
		font-family: var(--font-sans);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			--at-apply: text-$blue;
			font-family: var(--font-sans);
			font-weight: 700;
		}

		h1 {
			--at-apply: mb-4;
		}

		h2 {
			--at-apply: mb-4;
		}

		p {
			line-height: 160%;
		}

		strong {
			--at-apply: text-$orange;
		}

		em {
			--at-apply: text-$yellow;
		}

		a {
			--at-apply: text-$blue;
			text-decoration: underline;
			text-underline-offset: 3px;
		}

		ul,
		ol {
			li::marker {
				--at-apply: text-$blue;
			}
		}

		blockquote {
			--at-apply: bg-transparent text-$yellow border-none;
			font-style: italic;
			font-size: 1em;
			position: relative;
			margin-top: 1em;
			padding-left: 1em;
		}

		blockquote::before {
			content: "";
			width: 0.2rem;
			height: 100%;
			background-color: #454d59;
			position: absolute;
			left: 0;
			top: 0;
		}

		kbd {
			--at-apply: text-$green;
		}

		.slidev-code.shiki {
			background: #1a1d22 !important;
			padding: 3rem;
		}

		:not(pre) > code {
			--at-apply: bg-transparent text-$green;
		}
	}

	/* Layout: Cover, Intro */
	.slidev-layout.cover,
	.slidev-layout.intro {
		--at-apply: h-full grid;

		h1 {
			--at-apply: text-6xl leading-20 text-$blue;
		}

		h1 + p {
			--at-apply: -mt-2 text-$comment mb-4;
		}

		p + h2,
		ul + h2,
		table + h2 {
			--at-apply: mt-10;
		}
	}

	/* Layout: Fact */
	.slidev-layout.fact {
		--at-apply: text-center grid h-full;

		h1 {
			--at-apply: text-8xl font-700 text-$blue;
		}

		h1 + p {
			--at-apply: font-700 text-2xl text-$comment;
		}
	}

	/* Layout: Statement */
	.slidev-layout.statement {
		--at-apply: text-center grid h-full;

		h1 {
			--at-apply: text-6xl font-700 text-$blue;
		}
	}

	/* Layout: Section */
	.slidev-layout.section {
		h1 {
			--at-apply: text-6xl font-500 leading-20 text-$blue;
		}
	}

	/* Layout: Quote */
	.slidev-layout.quote {
		--at-apply: grid h-full;

		h1 + p {
			--at-apply: mt-2;
		}
	}

	/* Layout: Author */
	.slidev-layout.author {
		img {
			--at-apply: rounded-full mx-auto;
		}

		h1 {
			--at-apply: text-3xl font-600 mb-0 next-[p]-mt-2;
		}

		h1 + p {
			--at-apply: max-w-40ch mx-auto;
		}

		footer {
			--at-apply: pt-16 text-sm flex justify-center items-center;

			a {
				--at-apply: ms-2 me-6;
			}

			a:not(:hover) {
				color: inherit !important;
			}
		}
	}
}

/* Light Mode */
html.light {
	--background: #ffffff;
	--current-line: #f0f0f0;
	--foreground: #555555;
	--comment: #888888;
	--blue: #00629d;
	--blue-dim: #5aaeff;
	--green: #2ea52e;
	--orange: #b66014;
	--purple: #7135ac;
	--red: #cc0000;
	--yellow: #cb911d;
	--aqua: #479d9d;
}

html.light #app {
	#slide-content {
		--at-apply: text-$foreground bg-$background !important;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			--at-apply: text-$blue;
		}

		.slidev-code.shiki {
			background: #f8f8f8 !important;
			padding: 3rem;
		}
	}
}
